<HTML>

<HEAD>
<TITLE><%= title %></TITLE>
</HEAD>

<BODY>
<H1>Create New Post</H1>
<form method="POST">
  Title: <input type="text" name="postTitle"><br>
  Body: <input type="text" name="postBody"><br>
</form>
</BODY>

</HTML>